<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Pertemuan1/src/ac/ifunpas/praktikum/alpro/modul1/latihan/LatihanArray4_193040053.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ac.ifunpas.praktikum.alpro.modul1.latihan.LatihanArray4_193040053"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Project"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Pertemuan1"/>
</launchConfiguration>
